/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn {
  background-color: midnightblue;
  color: white;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 10rem;
}

.field {
  input, select, textarea {
    border: 1px solid lightgray;
    margin-top: 0.5rem;
    padding: 1rem;
  }

  textarea {
    box-sizing: border-box;
    height: 10rem;
    max-width: 30rem;
    width: 100%;
  }
}

.field_with_errors {
  background-color: transparent;
  padding: 0;
  width: 100%;

  & > input, select, textarea {
    border: 1px solid #c00;
  }
}

.error_messages {
  color: #c00;
}
